* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191A1E;
  height: 135px;
}
  .cabecalho {
    background-image: url(./img/HOME.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
  }

  .cabecalho-imagem {
   
  }

.conteudo-principal {
  color: black;
  display: grid;
  grid-template-columns: 50% 50%;
}



