@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100&family=Righteous&family=Sarala:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/gotham-6');

                

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191A1E;
  height: 135px;
}
  .cabecalho {
    background-image: url(./img/HOME.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
  }

.conteudo-principal {
    background-image: url(./img/HOME.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito-titulo {
  color: red;
  font-family: 'Gotham', sans-serif;
}

.conteudo-principal-escrito

.form{
  
  color: black;
}

