

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(./img/HOME.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center center;

  }

  .cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
   
  }

  .cabecalho-imagem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    opacity: 1;

    width: 160px;
    height: 55px;
    margin-top: 40px;
  }

.conteudo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    margin-top: 256px;
    margin-left: 230px;
}



